@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500;600&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
    --primary-color:#929AAB;
    --secondary-color:#393E46;
    --third-color:#EEEEEE;
    --light-color:#F7F7F7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    height:100%;
    overflow-x: hidden;
    background-color: var(--light-color);
}
.flex{
    display:flex;
    align-items: center;
}
.container{
    margin-left:2.5em;
    margin-right:2.5em;
}
.front-page{
    height: 100vh;
}
.navbar{
    justify-content: space-between;
    /* border:1px solid black; */
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
}
.search{
    width:40vh;
    /* border:1px solid black; */
    margin-left:1vw;
    height: auto;
    display: inline-block; 
    transform: scale(1.1);
}
#search-box{
    height: 2em;
    width:25vh;
    display: inline;
    border-radius: 20px;
    border: 1px solid transparent;
    text-align: center;
}
/* #search-btn{
    margin-left:2em;
    width: 1.6rem;
} */
.navbar-menu{
    gap: 4em;
    margin-right: 10em;
    justify-content: center;
    /* border: 1px solid red; */
    list-style: none;
    cursor: pointer;
}
.navbar-menu li:hover{
    color:skyblue;
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}
.user{
    width:10rem;
    justify-content: space-between;
}
.btn{
    width:5rem;
    height:2em;
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 80px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: none;
    display: inline-block;
    padding-top:2px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}
.btn:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
    opacity: 0.8;
}
.search-btn{
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    outline: none;
    display: inline-block;
    padding-top:2px;
    margin-left:0.5rem;
    padding:0.2rem;
}
/* Slide show window style starts here*/

.slide-window{
    max-width: 100%;
    height: 80vh;
    margin-top: 5vh;
    border: 1px solid transparent;
    border-radius: 50px;
    position: relative;
}
.swiper {
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /* filter: brightness(80%); */
  }
  #goa_img{
    filter: brightness(80%);
  }
  .image_headings{
    justify-content: center;
    align-items: center;
    position:absolute;
    top:50%;
    left:45%;
    color:#fff;
    transform: scale(2);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(255,255,255,0.39);
  }

  /*page 2 starts*/
.map_with_info{
    min-height:100vh;
    position: relative;
  }
.header_of_map{
    margin:2vh 0 0 2vw;
    font-family: 'Poppins', sans-serif;
}
.india_map{
    justify-content: center;
    margin-top:6vh;
    transform: scale(1.2);
    filter: drop-shadow(3px 3px 8px black);
    opacity: 1;
    
}
.info_of_city{
    width:20%;
    position: absolute;
}
.heading_one{
    top:20%;
    right:3rem;
}
.heading_two{
    top: 45%;
    left: 3rem;
}
.heading_three{
    top:60%;
    right:3rem;
}
.city_name{
    font-family: 'Montserrat', sans-serif;
}
.desc_of_city{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: small;
}
.location_icon_one{
   position: absolute;
   margin-left:35.5vw;
   margin-top:-33vh;
    
}
.location_icon_two{
    position: absolute;
    margin-left:39.5vw;
    margin-top:-8vh;
}
.location_icon_three{
    position: absolute;
    margin-left:33.5vw;
    margin-top:-39vh;
}
.ad-boxes{
    height:100vh;
    position: relative;
}
.extra_info_box{
    height:40vh;
    position:relative;
}
.about_us_box{
    height:70vh;
    position:realtive;
}
.footer{
    height: 50vh;
    position:relative;
    background-color: var(--secondary-color);
    background-color: linear-gradient(to right,#00093c,2d0b00);
}
.socialIcons {
 justify-content: center;
 padding-top: 15vh;
}
.socialIcons a{
    text-decoration: none;
    padding:10px;
    background-color: white;
    margin:10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size:2rem;
    color:black;
    opacity: 0.9;
}
.socialIcons a:hover{
    color:white;
    transition: 0.5s;
}
.footerNav{
    justify-content: center;
    margin-top: 1em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.footerUl{
    display:flex;
    gap:2rem;
    font-size: 2rem;
}
.footerUl li a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.last_note{
    justify-content: center;
    padding-top:1.5rem;
    color:white;
    font-family: 'Poppins', sans-serif;
    
}